/* Controls */
.maplibregl-ctrl-group button.gm-control-button {
  color: #2371a0;
  padding: 6px;
}

.maplibregl-ctrl-group button.gm-control-button:hover,
.maplibregl-ctrl-group button.gm-control-button.active {
  color: #005f7c;
  background-color: #c4eaff;
}

.maplibregl-ctrl-group button.gm-control-button svg {
  max-width: 100%;
  max-height: 100%;
}

.gm-measurements .maplibregl-popup-tip {
  display: none;
}

.gm-measurements .maplibregl-popup-content {
  pointer-events: none;
}
