/* Controls */
.geoman-controls,
.geoman-controls .gm-reactive-controls,
.geoman-controls .gm-reactive-controls > div {
  display: contents;
}

.mapboxgl-ctrl-group button.gm-control-button {
  color: #2371a0;
  padding: 6px;
}

.mapboxgl-ctrl-group button.gm-control-button:hover,
.mapboxgl-ctrl-group button.gm-control-button.active {
  color: #005f7c;
  background-color: #c4eaff;
}

.mapboxgl-ctrl-group button.gm-control-button svg {
  max-width: 100%;
  max-height: 100%;
}

.gm-measurements .mapboxgl-popup-tip {
  display: none;
}

.gm-measurements .mapboxgl-popup-content {
  pointer-events: none;
}
